<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="ticker.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{title}}</title>
</head>
    <body>
        <div id="header">
            <h1>EL MUNDO TODAY</h1>
        </div>
            {{{body}}}
        <div id="footer">
            Las noticias del mañana
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="script.js"></script>
    </body>
</html>
