<div id="sidebar">
    <div id="sbarhead">
        <h1> Projects </h1>
    </div>
    <div>
        {{#each links}}
        <div class="pbox"> <a href={{description}}> {{name}}</a> </div> ​
        {{/each}}
    </div>
</div>

<div id="projectbox">
    <div id="suputamadre">
        <h2> Hi! </h2>
        <h3> I'm Rafa </h3>
        <p> I'm learning Javascript and these are some of the projects I've developed so far. </p>
    </div>

    <div id="preview">
        <img src="others/profile.png"/>
    </div>
</div>
