body {
    background-color: #000000;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    opacity: 1;
    outline: none;
}

input:hover,
select:hover,
textarea:hover,
button:hover {
    opacity: 0.9;
    outline: none;
}


input, button, select {
    opacity: 0.8;
    -webkit-appearance: none;
    border:none;
    margin: 2px;
}

#header {
    text-align: center;
}

#title {
    margin-top: 15px;
    color: #B1103C;
    font-size: 60px;
    height: 100px;
}

#searchbox {
    margin: 0;
    background-color: #525252;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#searchtext {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    width: 300px;
    height: 42px;
    border-radius: 20px;
    padding-left: 15px;
}

select {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: #929292;
    height: 45px;
    width: 100px;
    border-radius: 20px;
    padding-left: 15px;
}

.button {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #fff;
    height: 45px;
    width: 100px;
    border-radius: 20px;
    background-color: #781E36;
}

#displaying {
    color: white;
    font-weight: 100;
    margin-bottom: 15px;
}

#resultsbox {
    padding: 15px;
    color: white;
}

.result {
    text-align: left;
    background-color: #525252;
    margin-bottom: 15px;
    padding: 15px;
    display: flex;
}

.result:hover {
    background-color: #626262;
}

img {
    height: 250px;
    margin-right: 15px;
}

#moreresults {
    display: none;
    margin: 0;
    background-color: #525252;
    height: 100px;
    justify-content: center;
    align-items: center;
}

#more {
    margin-top: 20px;
    text-align: center;
}

.title {
    color: #781E36;
    font-size: 30px;
    margin-bottom: 10px;
}

.plot {

}
