body {
    font-family: 'Arvo', serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: blue;
}

.list {
   margin-bottom: 10px;
   font-size: 15px;
   padding-right: 30px;
   margin: 0;
}

#header {
    top: 0;
    background-color: #000000;
    color: white;
    height: 80px;
    font-size: 35px;
    margin: 0;
    padding: 10px;
}

h1, h2 {
    margin: 0;
    text-align: center;
}

#container {
    position: relative;
    width: 1500px;
    white-space: nowrap;
    font-size: 0;
    left: 0;
}

#main {
   width: 100%;
   height: 30px;
   overflow: hidden;
   border-bottom: 2px solid black;
   border-top: 2px solid black;
}

#finishline {
    height: 100%;
    width: 1px;
    background-color: red;
    left: -500px;
    top: 0;
    position: absolute;
}

#barhead {
    margin: 10px;
}

#footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    background-color: #000000;
    color: white;
    width: 100%;
    text-align: center;
    padding: 5px;
}
