body {
  margin: 0;
}

#container {
  height: 600px;
  width: 100%;
  position: relative;
  margin: 0;
  overflow: hidden;
}

.kit {
  float: left;
  position: absolute;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition-duration: 0;
}

#kit1 {
  background-image: url(cats/kit1.jpg);
}

#kit2 {
  background-image: url(cats/kit2.jpg);
}

#kit3 {
  background-image: url(cats/kit3.jpg);
}

#kit4 {
  background-image: url(cats/kit4.jpg);
}

.out{
  transform: translateX(-100%);
  transition-duration: 1s;
  z-index: 2;
  transition-timing-function: cubic-bezier(0.3,0.1,0.25,1);
}

.in {
  transform: translateX(0);
  transition-duration: 1s;
  z-index: 2;
  transition-timing-function: cubic-bezier(0.3,0.1,0.25,1);;
}

#dots {
  z-index: 100;
  position: absolute;
  top: 90%;
  right: 50%;
  transform: translateX(50%);
}

.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px white;
  border: 2px solid white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  z-index: 100;
}

.activedot {
  background-color: #FFFFFF
}
