<div id="bar">
    <div id="barhead">
        <h2> ÚLTIMAS NOTICIAS </h2>
    </div>
    <div id="main">
        <div id="container">
            {{#each .}}
                <a href={{link}} class="list" >{{text}} ({{user}})</a>
            {{/each}}
        </div>
    </div>
</div>
