<div id="bar">
    <div id="barhead">
        <h2> ULTIMAS NOTICIAS </h2>
    </div>
    <div id="main">
        <div id="container">
            {{#each .}}
                <!-- class="pbox"> <a href={{entities.urls}}>  -->
                <a href={{link}} class="list" >{{text}}</a>
            {{/each}}
        </div>
    </div>
</div>
